.adminUsersDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(4, 10, 36);
}
.searchMenu{
  height: 3em;
  width: 80vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
.index {
  height: 2em;
  width: 80vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.id {
  height: 2em;
  width: 5vw;
  text-align: flex-start;
}
.firstName {
  height: 2em;
  width: 15vw;
  text-align: flex-start;
}
.lastName {
  height: 2em;
  width: 15vw;
  text-align: flex-start;
}
.email {
  height: 2em;
  width: 30vw;
  text-align: flex-start;
}
.role {
  height: 2em;
  width: 10vw;
  text-align: flex-start;
}
.delete{
  height: 2em;
  width: 5vw;
  text-align: center;
}
.separator{
    height: 1em;
    width: 80vw;
}