.profileDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  background-image: url("../../img/cielo.jpg");
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 10, 36);
  color: white;
  font-weight: bold;
}

.profileCardDesign {
  height: 28em;
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 26, 30);
  color: white;
}

.profileCardDesign img {
  height: 10em;
  width: 10em;
}

.error {
  color: red;
}
