.profileDesign {
  height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(4, 10, 36);
  color: white;
  font-weight: bold;
}

.spinner{
  background-color: transparent;
  animation:
  rotate 25s infinite 0s;
}

@keyframes rotate {

  to {
    transform: rotate(1080deg);
  }
}

