.homeDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: rgb(4, 10, 36);
}

.homeDesign img{
  height: 20em;
  width: auto;
}
h2{
  color: white;
}
.intro{
  height: auto;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(134, 107, 185);
}
