.homeDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../img/fondo2.gif");
  background-size: cover;
  background-color: rgb(4, 10, 36);
}

.homeDesign img{
  height: 28em;
  width: auto;
}
.leftColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 100%;
  padding: 0 2em 0 0;
}
.rightColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 100%;
  padding: 0 2em 0 0;
}
.homeDesign h1{
  font-family: Verdana, Geneva, Tahoma;
  font-size: 3rem;
  color: rgb(223, 222, 217);
  background-color: transparent;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
