.buttonDesign {
    width: 10em;
    height: 2.5em;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: bold;
  
    cursor: pointer;
    background-color: transparent;
    border: 0.18em solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }

  .buttonDesign:hover {
    background-color: rgb(9, 23, 82);
  }

  .update {
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: bold;
  
    cursor: pointer;
    background-color: transparent;
    border: 0.18em solid rgb(255, 255, 255);
    background-color: rgb(21, 187, 145);
    color: rgb(0, 0, 0);
  }

  .serviceButton{
    width: 5em;
    height: 1.5em;
    margin: 0 0.5em 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: bold;
  
    cursor: pointer;
    background-color: white;
    border: 0.18em solid rgb(255, 255, 255);
    color: blue
  }