.appointmentsDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/fondo7.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(4, 10, 36);
}

.createAppointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-weight: bold;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(20, 46, 160);
  color: white;
}
.createAppointment:hover {
  background-color: rgb(30, 66, 226);
}
.appointmentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-weight: bold;
  background-color: rgb(217, 202, 34);
  color: rgb(4, 10, 36);
  padding: 1em;
  margin: 0.5em;
}

.appointmentCard:hover {
  background-color: rgb(255, 234, 0);
  color: rgb(27, 26, 30);
  text-shadow: none;
}

.appointmentCard img {
  width: 20em;
  height: auto;
  border-radius: 1em;
}

.separator {
  height: 2em;
}
.eliminar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.eliminar img {
  width: 2em;
  height: auto;
  cursor: pointer;
}
