.appointmentsDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(4, 10, 36);
}

.createAppointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-weight: bold;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(20, 46, 160);
  color: white;
}
.createAppointment:hover {
  background-color: rgb(30, 66, 226);
}
.appointmentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-weight: bold;
  background-color: salmon;
  color: white;
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
}

.appointmentCard:hover {
  background-color: rgb(248, 140, 121);
}

.appointmentCard img {
  width: 20em;
  height: auto;
  border-radius: 1em;
}

.separator {
  height: 2em;
}

.eliminar img {
  width: 2em;
  height: auto;
  cursor: pointer;
}