.root {
  position: relative;
  margin: 0;
  width: auto;
  background-color: rgb(217, 202, 34);
  border: 0.05em solid white;
  color: rgb(27, 26, 30);
}
.root:hover {
  /* background-color: rgb(20, 46, 160); */
  border: 0.1em solid white;
}
.input {
  margin: 0;
  border-radius: 0;
  background-color: rgb(217, 202, 34);
  color: rgb(27, 26, 30);
}
.input:hover {
  background-color: rgb(241, 220, 22);
  color: rgb(27, 26, 30);
}
.inputWrapper {
  margin: 0;
  height: 3em;
}
.calendarHeader {
  background-color: white;
  height: 4em;
  margin: 0;
}
.calendarHeaderControl {
  height: 2em;
  background-color: rgb(255, 255, 255);
  border: 0.1em solid rgb(27, 26, 30);
}
.calendarHeaderControlIcon {
  height: 1.5em;
  margin: 0;
}
.timeWrapper {
  height: 3em;
  margin: 0;
}
.timeInput {
  height: 3em;
  width: 3em;
}
.submitButton {
  height: 3em;
  width: 5em;
  margin: 0;
  border-radius: 0;
  border: 0.1em solid rgb(27, 26, 30);
}
.month {
  /* background-color: rgb(125, 159, 253); */
  background-color: rgb(217, 202, 34);
}
.mantine-Popover-dropdown {
  /* object-fit: contain; */
  display: block;
}
