.authInputDesign {
  width: 15em;
  height: 2.5em;
  border: 0.2em solid black;
  font-size: 1rem;
}

.authInputDesignError {
  border: 0.2em solid red;
}

.authInputDesign:focus {
  border: 0.2em solid rgb(0, 26, 255);
}
