.headerDesign {
  height: 10vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  background-color: rgb(247, 247, 247);
}
.Header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.HeaderLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
}
.HeaderCenter img{
  height: 8vh;
  width: auto;
}
.HeaderCenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.HeaderRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2em;
}
.logo {
  height: 8vh;
  width: auto;
  cursor: pointer;
}