.serviceTitleInput {
  width: 15em;
  height: 2.7em;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.1em solid transparent;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.enabledServiceTitleInput {
  border: 0.2em solid red;
}
.enabledServiceTitleInput:focus {
  border: 0.3em solid red;
}

.serviceDescriptionInput {
  overflow-y: hidden;
  width: 17em;
  height: 11em;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: flex-start;
  border: 0.1em solid transparent;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.enabledServiceDescriptionInput {
  border: 0.2em solid red;
}
.enabledServiceDescriptionInput:focus {
  border: 0.3em solid red;
}

.serviceCreateTitleInput {
  width: 30em;
  height: 1.5em;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.4em;
  border: 0.1em solid transparent;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(28, 43, 61);
}
.serviceCreateDescriptionInput {
  width: 25em;
  height: 8em;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.4em;
  border: 0.1em solid transparent;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(28, 43, 61);
}
